<h1>show</h1>
<h2><%= @dish.name %></h2>
<form action="/dishes/<%= @dish.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<button>delete</button>
</form>
<a href="/dishes/<%= @dish.id %>/edit">edit</a>
<%= @dish.name %>
<img src=<%= @dish.image_url%>>
<form action="/comments" method="post">
	<input type="hidden" name="dish_id" value=<%= @dish.id %>>
	<textarea name='body' id="" cols="30" rows="30"></textarea>
	<button>input</button>
</form>
<% @comments.each do |comment| %>
	<hr>
	<p><%= comment.body %></p>
<% end %>